<div class='container-fluid'>
    <!-- <hr> -->
<div class="d-flex flex-wrap align-content-around align-items-stretch text-center">

  <div class="p-2 flex-fill">
      <h4 class="font-effect-fire">Address</h4>
      <address  class="mt-4">
          <a class="btn btn-outline-warning" href="https://goo.gl/maps/kmSjFFVuyRo3rmWx6" target="_blank">
          Santhosh Games Pvt Ltd,
          <br>
          53/H Amman Nagar,
          <br>
          B.Komarapalayam.
          <br>
          ZipCode - 638183
        </a>
      </address>
  </div>

  <div class="p-2 flex-fill">
      <h4 class="font-effect-fire">Contact with Us</h4>
      <address class="mt-4">
          <a class="btn btn-outline-warning" href="tel:9842999444"> Ph: 9842999444 <i class="fab fa-whatsapp"></i></a>      
        <br><br>
        <i class="fab fa-facebook-f btn btn-outline-warning social" data-bs-toggle="tooltip" title="Facebook!" data-bs-placement="top"></i>&nbsp;
        <i class="fab fa-instagram btn btn-outline-warning social"  data-bs-toggle="tooltip" title="Instagram!" data-bs-placement="top"></i>&nbsp;
        <i class="fab fa-youtube btn btn-outline-warning social"  data-bs-toggle="tooltip" title="Youtube!" data-bs-placement="top"></i>&nbsp;
        <i class="fab fa-twitter btn btn-outline-warning social"  data-bs-toggle="tooltip" title="Twitter!" data-bs-placement="top"></i>&nbsp;
        <i class="fab fa-linkedin-in btn btn-outline-warning social"  data-bs-toggle="tooltip" title="linkedin!" data-bs-placement="top"></i>&nbsp;
        <!-- <i class="fas fa-copyright"></i>&nbsp; -->

      </address>
  </div>

  <div class="p-2 flex-fill">
      <h4 class="font-effect-fire">Feedback</h4>
      <address>
          <span class="text-wrap"> 
            send your feedback followed by mail
          </span>
          <i class="fas fa-arrow-circle-down"></i>
          <br>
          <a class="btn btn-outline-warning mt-4" href="mailto:santhoshgameskpm@gmail.com" target="_blank"><i class="fas fa-envelope"></i> Santhoshgames@gmail.com</a>          
      </address>
  </div>
</div>
</div>
