<div class="container">
  <h2 class="text-center font-effect-fire mt-5 mb-4">{{title}}</h2>

<div class="d-flex flex-wrap align-content-around align-items-center mb-5 text-center">

  <div class="p-3 flex-fill bg-warning" *ngFor="let i of listOfCategory">
    <h6 class="text-warning">{{i.categoryName}}</h6>
    <button type="button" class="btn btn-outline-info">{{i.view}}</button>
  </div>

  <!-- <div class="p-2 flex-fill bg-warning">
    <h6>Most popular</h6>
    <button type="button" class="btn btn-outline-info">View</button>
  </div>

  <div class="p-2 flex-fill bg-warning">
    <h6>Best Sellings</h6>
    <button type="button" class="btn btn-outline-info">View</button>
  </div>

  <div class="p-2 flex-fill bg-warning">
    <h6>Pc Games</h6>
    <button type="button" class="btn btn-outline-info">View</button>
  </div>
  
  <div class="p-2 flex-fill bg-warning">
    <h6>Ps2 Games</h6>
    <button type="button" class="btn btn-outline-info">View</button>
  </div>

  <div class="p-2 flex-fill bg-warning">
    <h6>Ps3 Games</h6>
    <button type="button" class="btn btn-outline-info">View</button>
  </div>

  <div class="p-2 flex-fill bg-warning">
    <h6>Ps4 Games</h6>
    <button type="button" class="btn btn-outline-info">View</button>
  </div>

  <div class="p-2 flex-fill bg-warning">
    <h6>Ps5 Games</h6>
    <button type="button" class="btn btn-outline-info">View</button>
  </div>

  <div class="p-2 flex-fill bg-warning">
    <h6>XBox Games</h6>
    <button type="button" class="btn btn-outline-info">View</button>
  </div>

  <div class="p-2 flex-fill bg-warning">
    <h6>Game Accessories</h6>
    <button type="button" class="btn btn-outline-info">View</button>
  </div> -->

</div>
</div>