<h2 class="text-center font-effect-fire mt-5 mb-4">About Us</h2>

<div class="text-center">
    <span>
        <img src="../../assets/founder/2847-Tamilselvan.jpg"  width="30%" height="30%"  alt="Founder image" class="rounded-circle">
    </span>
    <h3 class="page-header text-wrap mt-4 mb-4 text-success">Founder of Santhosh Games</h3>
    <p class="text-danger">Since 2018</p>
</div>

<hr>

<div class="d-flex flex-wrap align-content-around align-items-center mb-3 text-center">

    <div class="p-2 flex-fill bg-warning">
        <h4 class="font-effect-neon">Wholesale</h4>
        <ul>
            <li>Ps2 - 60 games - 1 constroller- <i class="fas fa-rupee-sign"></i> 3500 (5 pcs)</li>
            <li>Ps2 - 60 games - 1 constroller- <i class="fas fa-rupee-sign"></i> 3500 (5 pcs)</li>
            <li>Ps2 - 60 games - 1 constroller- <i class="fas fa-rupee-sign"></i> 3500 (5 pcs)</li>
            <li>Ps2 - 60 games - 1 constroller- <i class="fas fa-rupee-sign"></i> 3500 (5 pcs)</li>
            <li>Ps2 - 60 games - 1 constroller- <i class="fas fa-rupee-sign"></i> 3500 (5 pcs)</li>
        </ul>
    </div>

    <div class="p-2 flex-fill bg-warning">
        <h4 class="font-effect-neon">Retail</h4>
        <ul>
            <li>Ps2 - 60 games - 1 constroller- <i class="fas fa-rupee-sign"></i> 5500 </li>
            <li>Ps3 - 60 games - 1 constroller- <i class="fas fa-rupee-sign"></i> 5500 </li>
            <li>Ps4 - 60 games - 1 constroller- <i class="fas fa-rupee-sign"></i> 5500 </li>
            <li>Ps5 - 60 games - 1 constroller- <i class="fas fa-rupee-sign"></i> 5500 </li>
            <li>XBox - 60 games - 1 constroller- <i class="fas fa-rupee-sign"></i> 5500 </li>
        </ul>
    </div>

</div>

<div class="d-flex flex-wrap align-content-around align-items-center mb-3 text-center">

    <div class="p-2 flex-fill bg-warning">
        <h4 class="font-effect-neon">Services</h4>
        <ul>
            <li>Ps2 - 60 games - 1 constroller- <i class="fas fa-rupee-sign"></i> 5500 </li>
            <li>Ps3 - 60 games - 1 constroller- <i class="fas fa-rupee-sign"></i> 5500 </li>
            <li>Ps4 - 60 games - 1 constroller- <i class="fas fa-rupee-sign"></i> 5500 </li>
            <li>Ps5 - 60 games - 1 constroller- <i class="fas fa-rupee-sign"></i> 5500 </li>
            <li>XBox - 60 games - 1 constroller- <i class="fas fa-rupee-sign"></i> 5500 </li>
        </ul>
    </div>

    <div class="p-2 flex-fill bg-warning">
        <h4 class="font-effect-neon">Spare Parts</h4>
        <ul>
            <li>Ps2 - 60 games - 1 constroller- <i class="fas fa-rupee-sign"></i> 5500 </li>
            <li>Ps3 - 60 games - 1 constroller- <i class="fas fa-rupee-sign"></i> 5500 </li>
            <li>Ps4 - 60 games - 1 constroller- <i class="fas fa-rupee-sign"></i> 5500 </li>
            <li>Ps5 - 60 games - 1 constroller- <i class="fas fa-rupee-sign"></i> 5500 </li>
            <li>XBox - 60 games - 1 constroller- <i class="fas fa-rupee-sign"></i> 5500 </li>
        </ul>
    </div>

</div>