<!-- <i class="fab fa-facebook-f"></i>
<i class="fab fa-instagram"></i>
<i class="fab fa-youtube"></i>
<i class="fab fa-twitter"></i>
<i class="fab fa-linkedin-in"></i>
<i class="fas fa-copyright"></i>
<i class="fab fa-playstation"></i>
<i class="fab fa-xbox"></i>
<i class="fal fa-desktop"></i>
<i class="fas fa-power-off"></i>
<i class="fas fa-mouse"></i>
<i class="fas fa-usb-drive"></i>
<i class="fab fa-vuejs"></i> -->

<h2 class="text-center font-effect-fire mt-5 mb-4">Contact Us</h2>
           
<div class="container">
    <h3>Track By Google Map</h3>
    <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3910.615793723386!2d77.69598611432167!3d11.435407749812056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba96971089ec103%3A0xf2109cd31a3cb8db!2sSanTHosH%20GameS!5e0!3m2!1sen!2sin!4v1635535367231!5m2!1sen!2sin"></iframe><a href="https://www.fnfgo.com/">FNF</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:400px;}.gmap_iframe {width:100%!important;height:400px!important;}</style></div>
</div>
