<div class="container mt-5">
  <div class="row">
      <div class="col-md-4">
          <div class="widget-container">
              <div class="widget">
                  <div class="profile-card">
                      <div class="card-header">
                          <div class="header-avatar">
                              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="andy">
                          </div>
                          <div class="header-name">
                              Anderson Charlotte
                          </div>
                      </div>
                      <div class="card-body bg-warning">
                          <div class="body-description">
                              A user profile is a group of settings that define how Outlook is set up for a particular user. For example, a profile may include access to a mailbox on Microsoft Exchange Server, and specify that the Outlook Address Book appear in the Address Book dialog box. A profile can contain any number of information services.
                          </div>
                      </div>
                      <div class="card-footer">
                          <div class="footer-social">
                              <div class="row">
                                  <div class="col-sm-3">
                                      <a href="">
                                          <i class="fa fa-facebook"></i>
                                      </a>
                                  </div>
                                  <div class="col-sm-3">
                                      <a href="">
                                          <i class="fa fa-twitter"></i>
                                      </a>
                                  </div>
                                  <div class="col-sm-3">
                                      <a href="">
                                          <i class="fa fa-dribbble"></i>
                                      </a>
                                  </div>
                                  <div class="col-sm-3">
                                      <a href="">
                                          <i class="fa fa-instagram"></i>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="widget-container">
              <div class="widget">
                  <div class="profile-card">
                      <div class="card-header">
                          <div class="header-avatar">
                              <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="claudio">
                          </div>
                          <div class="header-name">
                              Caludio Morrison
                          </div>
                      </div>
                      <div class="card-body bg-primary">
                          <div class="body-description">
                              A user profile is a group of settings that define how Outlook is set up for a particular user. For example, a profile may include access to a mailbox on Microsoft Exchange Server, and specify that the Outlook Address Book appear in the Address Book dialog box. A profile can contain any number of information services.
                          </div>
                      </div>
                      <div class="card-footer">
                          <div class="footer-social">
                              <div class="row">
                                  <div class="col-sm-3">
                                      <a href="">
                                          <i class="fa fa-facebook"></i>
                                      </a>
                                  </div>
                                  <div class="col-sm-3">
                                      <a href="">
                                          <i class="fa fa-twitter"></i>
                                      </a>
                                  </div>
                                  <div class="col-sm-3">
                                      <a href="">
                                          <i class="fa fa-dribbble"></i>
                                      </a>
                                  </div>
                                  <div class="col-sm-3">
                                      <a href="">
                                          <i class="fa fa-instagram"></i>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="widget-container">
              <div class="widget">
                  <div class="profile-card">
                      <div class="card-header">
                          <div class="header-avatar">
                              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="anna">
                          </div>
                          <div class="header-name">
                              Markez Chan
                          </div>
                      </div>
                      <div class="card-body bg-info">
                          <div class="body-description">
                              A user profile is a group of settings that define how Outlook is set up for a particular user.
                                  For example, a profile may include access to a mailbox on Microsoft Exchange Server, and specify that the Outlook Address Book appear in the Address Book dialog box. A profile can contain any number of information services.
                          </div>
                      </div>
                      <div class="card-footer">
                          <div class="footer-social">
                              <div class="row">
                                  <div class="col-sm-3">
                                      <a href="">
                                          <i class="fa fa-facebook"></i>
                                      </a>
                                  </div>
                                  <div class="col-sm-3">
                                      <a href="">
                                          <i class="fa fa-twitter"></i>
                                      </a>
                                  </div>
                                  <div class="col-sm-3">
                                      <a href="">
                                          <i class="fa fa-dribbble"></i>
                                      </a>
                                  </div>
                                  <div class="col-sm-3">
                                      <a href="">
                                          <i class="fa fa-instagram"></i>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
  </div>
