<div class="container bootstrap snippets bootdey mt-5 mb-5" id="/userdetails">
  <div class="panel-body inf-content">
      <div class="row">
          <div class="col-md-4">
              <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/avatar/avatar7.png" data-original-title="Usuario">
              <ul title="Ratings" class="list-inline ratings text-center">
                  <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
              </ul>
          </div>
          <div class="col-md-6">
              <!-- <strong><h3>Information :</h3></strong><br> -->
              <div class="table-responsive">
              <table class="table table-user-information">
                  <tbody>
                      <tr>
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                  Identificacion
                              </strong>
                          </td>
                          <td class="text-primary">
                              123456789
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-user  text-primary"></span>
                                  First Name
                              </strong>
                          </td>
                          <td class="text-primary">
                              Tamilselvan
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-cloud text-primary"></span>
                                  Lastname
                              </strong>
                          </td>
                          <td class="text-primary">
                              K
                          </td>
                      </tr>

                      <tr>
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                  Username
                              </strong>
                          </td>
                          <td class="text-primary">
                              Tamilselvan K
                          </td>
                      </tr>


                      <tr>
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                  Role
                              </strong>
                          </td>
                          <td class="text-primary">
                              Admin
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-envelope text-primary"></span>
                                  Email
                              </strong>
                          </td>
                          <td class="text-primary">
                              tamil97mca@gmail.com
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                                  created
                              </strong>
                          </td>
                          <td class="text-primary">
                              27 Nov 1997
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                                  Modified
                              </strong>
                          </td>
                          <td class="text-primary">
                               20 jul 2014 07:30:00 AM
                          </td>
                      </tr>
                  </tbody>
              </table>
              </div>
          </div>
      </div>
  </div>
  </div>
