<app-header></app-header>
<app-carousel></app-carousel>

<!-- <h1>Latest Games</h1>
<h1>Most popular</h1>
<h1>Best Sellings</h1>
<h3>Pc <mark>View Games</mark></h3>
<h3>Ps2 <mark>View Games</mark></h3>
<h3>Ps3 <mark>View Games</mark></h3>
<h3>Ps4 <mark>View Games</mark></h3>

<h3><i class="fab fa-xbox"></i>
    XBox <mark>View Games</mark></h3> -->

<!-- <h1 class="font-effect-neon">Neon Effect</h1>
<h1 class="font-effect-outline">Outline Effect</h1>
<h1 class="font-effect-emboss">Emboss Effect</h1>
<h1 class="font-effect-shadow-multiple">Multiple Shadow Effect</h1>


<h1 class="font-effect-fire">Sofia on Fire</h1> -->


<!-- <img src="https://media.giphy.com/media/CcVJXCyy8RGt5fuvfW/giphy.gif" alt="">
<img src="https://media.giphy.com/media/NzOejpgYhVwV1OrHj4/giphy.gif" alt="">
<img src="https://media.giphy.com/media/N0amrwUJZ7opVZ1A4f/giphy.gif" alt=""> -->


<app-category></app-category>
